{minimum_otp_vsn, "R28"}.

{erl_opts, [debug_info]}.

{deps, [
    {app_config,
        {git, "https://github.com/leapsight/app_config.git", {tag, "1.1.2"}}
    },
    {gen_smtp, "1.3.0"},
    {jobs, "0.10.0"}
]}.

{shell, [
    {apps, [bondy_mail]}
]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            proper
        ]}
    ]}
]}.
