{erl_opts, [debug_info]}.
{deps, [
    {mops,
        {git, "git@gitlab.com:leapsight/mops.git", {branch, "master"}}},
    {wamp,
        {git, "git@gitlab.com:leapsight/wamp.git", {branch, "develop"}}},
    {brod, {git, "https://github.com/klarna/brod.git", {tag, "3.3.3"}}},
    {hash, ".*",
    {git, "https://github.com/fogfish/hash", {branch, master}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [bondy_broker_bridge]}
]}.



{relx, [
    {release, {bondy, "0.8.0"},[
        %% Erlang
        sasl,
        crypto,
        inets,
        tools,
        runtime_tools,
        os_mon,
        %% Third-parties
        {brod, load},
        hash,
        %% Us
        mops,
        bondy_broker_bridge
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},

    {overlay, [

    ]}
]}.
