{erl_opts, [debug_info]}.
{deps, [
    {mops,
        {git, "git@gitlab.com:leapsight/mops.git", {branch, "master"}}},
    {wamp,
        {git, "git@gitlab.com:leapsight/wamp.git", {branch, "develop"}}},
    {brod,
        {git, "https://github.com/klarna/brod.git", {tag, "3.15.3"}}},
    {hash, ".*",
        {git, "https://github.com/fogfish/hash", {branch, master}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [bondy_broker_bridge]}
]}.



