{erl_opts, [debug_info]}.
{deps, [
    {mops,
        {git, "https://gitlab.com/leapsight/mops.git", {branch, "master"}}},
    {wamp,
        {git, "https://gitlab.com/leapsight/wamp.git", {tag, "0.9.2"}}},
    {brod,
        {git, "https://github.com/klarna/brod.git", {tag, "3.16.1"}}},
    {hash, ".*",
        {git, "https://github.com/fogfish/hash", {branch, master}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [bondy_broker_bridge]}
]}.



