[
    {plum_db, [
        {prefixes, [
            %% ram
            {registry_registrations, ram},
            {registry_subscriptions, ram},
            %% ram_disk
            {security, ram_disk},
            {security_config, ram_disk},
            {security_group_grants, ram_disk},
            {security_groups, ram_disk},
            {security_sources, ram_disk},
            {security_status, ram_disk},
            {security_user_grants, ram_disk},
            {security_users, ram_disk},
            %% disk
            {api_gateway, disk},
            {oauth2_refresh_tokens, disk}
        ]}
    ]},
    {partisan, [
        {partisan_peer_service_manager, partisan_default_peer_service_manager},
        {peer_port, 51972}
    ]},
    {plumtree, [
        {broadcast_exchange_timer, 60000},
        {broadcast_mods, [
            plum_db
        ]}
    ]},
    {flake, [
	    %% {interface, "en0"},
	    {timestamp_path, "./tmp/timestamp.dets"},
	    {allowable_downtime, 2592000000}
	]},
    {tuplespace, [
       %% {ring_size, 32},
        {static_tables, [
            {bondy_session, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registry_state, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            %% Holds information required to implement the different invocation
            %% strategies like round_robin
            {bondy_rpc_state,  [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_token_cache, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]}
        ]}
    ]},
    {sasl, [{sasl_error_logger, false}]},
    {lager, [
        %% Default handlers for lager/lager_event
        {colored, true},
        {async_threshold, 500},
        {async_threshold_window, 50},
        {error_logger_hwm, 50},
        {handlers, [
            {lager_console_backend, [
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    color,
                    date, " ", time,
                    " [", severity,"]",
                    " [", pid, " ", module,":",function,":",line,"] ",
                    message,
                    "\e[0m\r\n"
                ]}
            ]}
        ]},
        {extra_sinks, [
            {audit_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, info},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid, " ", module,":",function,":",line,"] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]},
            {error_logger_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, info},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid, " ", module,":",function,":",line,"] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]}
        ]}
    ]},
    {os_mon, [
        {system_memory_high_watermark, 0.60}
    ]}
].
