[
    {plumtree, [
        {broadcast_mods, [
            plumtree_metadata_manager,
            bondy_tuplespace_broadcast_handler
        ]}
    ]},
    {tuplespace, [
       %% {ring_size, 32},
        {static_tables, [
            {bondy_session, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_subscription, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_subscription_index,  [
                bag,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registration, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registration_index,  [
                bag,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            %% Holds information required to implement the different invocation
            %% strategies like round_robin
            {bondy_rpc_state,  [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_token_cache, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]}
        ]}
    ]},
    {lager, [
        %% Default handlers for lager/lager_event
        {colored, true},
        {async_threshold, 500},
        {async_threshold_window, 50},
        {error_logger_hwm, 50},
        {handlers, [
            {lager_console_backend, [
                {level,"${LOG_LEVEL}"},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    color,
                    date, " ", time,
                    " [", severity,"]",
                    " [", pid, " ", module,":",function,":",line,"] ",
                    message,
                    "\e[0m\r\n"
                ]}
            ]}
        ]},
        {extra_sinks, [
            {audit_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level,"${LOG_LEVEL}"},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid, " ", module,":",function,":",line,"] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]},
            {error_logger_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level,"${LOG_LEVEL}"},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid, " ", module,":",function,":",line,"] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]}
        ]}
    ]}
].
