%% -*- erlang -*-

{platform_bin_dir,      "/usr/lib64/bondy/bin"}.
{platform_data_dir,     "/var/lib/bondy"}.
{platform_log_dir,      "/var/log/bondy"}.
{platform_etc_dir,      "/etc/bondy"}.
{platform_base_dir,     "/usr/lib64/bondy"}.
{platform_lib_dir,      "/usr/lib64/bondy/lib"}.
{platform_share_dir,    "/usr/share/bondy"}.

