## Name of the node
-name ${BONDY_ERL_NODENAME}

## Cookie for distributed erlang
-cookie ${BONDY_ERL_DISTRIBUTED_COOKIE}

## Explicit connections only.
-connect_all false
-hidden

+sbwt none


## Time Correction
+c true
+C multi_time_warp

## Max processes
+P 2000000

## Kernel polling
+K true

## Async I/O threads
+A 64

## Increase distribution port buffer size.
+zdbbl 32768



-args_file releases/{{release_version}}/generated/vm.generated.args