[
    {plum_db, [
        {store_open_retries_delay, 2000},
        {store_open_retry_Limit, 30},
        {data_exchange_timeout, 60000},
        {hashtree_timer, 10000},
        {partitions, 16},
        {data_dir, "data"}
    ]},
    {partisan, [
        {partisan_peer_service_manager, partisan_default_peer_service_manager},
        {channels, [wamp_peer_messages, aae_channel]},
        {peer_port, 51972}
    ]},
    {plumtree, [
        {broadcast_exchange_timer, 60000},
        {broadcast_mods, [
            plum_db
        ]}
    ]},
    {flake, [
	    %% {interface, "en0"},
	    {timestamp_path, "./data/timestamp.dets"},
	    {allowable_downtime, 2592000000}
	]},
    {lager, [
        %% Default handlers for lager/lager_event
        {colored, true},
        {async_threshold, 500},
        {async_threshold_window, 50},
        {error_logger_hwm, 50},
        {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter, lager_default_formatter}
            ]}
        ]},
        {extra_sinks, [
            {audit_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, debug},
                        {formatter, lager_default_formatter}
                    ]}
                ]}
            ]},
            {error_logger_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, debug},
                        {formatter, lager_default_formatter}
                    ]}
                ]}
            ]}
        ]}
    ]},
    {tuplespace, [
       %% {ring_size, 32},
        {static_tables, [
            {bondy_session, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_subscription, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_subscription_index,  [
                bag,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registration, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registration_index,  [
                bag,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            %% Holds information required to implement the different invocation
            %% strategies like round_robin
            {bondy_rpc_state,  [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_token_cache, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]}
        ]}
    ]}
].
