%% -*- erlang -*-

{cookie,                    "edge"}.
{node,                      "edge1@127.0.0.1"}.
{bondy_ip,                  "127.0.0.1"}.

{admin_api_http_port,       "19081"}.
{admin_api_https_port,      "19084"}.
{api_gateway_http_port,     "19080"}.
{api_gateway_https_port,    "19083"}.
{edge_tcp_port,             "19086"}.
{edge_tls_port,             "19092"}.
{peer_port,                 "19093"}.
{wamp_tcp_port,             "19082"}.
{wamp_tls_port,             "19085"}.



{runner_wait_process,       "bondy_sup"}.
{runner_ulimit_warn,        65536}.

{platform_bin_dir,          "./bin"}.
{platform_lib_dir,          "./lib"}.
{platform_etc_dir,          "./etc"}.
{platform_share_dir,        "./share"}.
{platform_data_dir,         "./data"}.
{platform_log_dir,          "./log"}.
{platform_tmp_dir,          "./tmp"}.
{platform_gen_dir,          "{{platform_etc_dir}}"}.


