%% -*- erlang -*-

{cookie,                    "bondy"}.
{node,                      "bondy1@127.0.0.1"}.
{bondy_ip,                  "127.0.0.1"}.

{admin_api_http_port,       "18081"}.
{admin_api_https_port,      "18084"}.
{api_gateway_http_port,     "18080"}.
{api_gateway_https_port,    "18083"}.
{edge_tcp_port,             "18092"}.
{edge_tls_port,             "18093"}.
{peer_port,                 "18086"}.
{wamp_tcp_port,             "18082"}.
{wamp_tls_port,             "18085"}.



{runner_wait_process,       "bondy_sup"}.
{runner_ulimit_warn,        65536}.

{platform_bin_dir,          "./bin"}.
{platform_lib_dir,          "./lib"}.
{platform_etc_dir,          "./etc"}.
{platform_share_dir,        "./share"}.
{platform_data_dir,         "./data"}.
{platform_log_dir,          "./log"}.
{platform_tmp_dir,          "./tmp"}.
{platform_gen_dir,          "{{platform_etc_dir}}"}.
