## Name of the node
-name bondy1@127.0.0.1

## Cookie for distributed erlang
-setcookie bondy

## Explicit connections only.
-connect_all false
-hidden

## Time Correction
+c
+C multi_time_warp

## Max processes
+P 2000000

## Kernel polling
+K true

## Async I/O threads
+A 64

## Increase distribution port buffer size.
+zdbbl 32768

+sbwt none

-args_file releases/{{release_version}}/generated/vm.generated.args