%% -*- erlang -*-

{cookie,                    "bondy"}.
{node,                      "bondy2@127.0.0.1"}.
{bondy_ip,                  "127.0.0.1"}.

{api_gateway_http_port,     "18180"}.
{admin_api_http_port,       "18181"}.
{wamp_tcp_port,             "18182"}.
{api_gateway_https_port,    "18183"}.
{admin_api_https_port,      "18184"}.
{wamp_tls_port,             "18185"}.
{peer_port,                 "18186"}.



{runner_wait_process,       "bondy_sup"}.
{runner_ulimit_warn,        65536}.

{platform_bin_dir,          "./bin"}.
{platform_lib_dir,          "./lib"}.
{platform_etc_dir,          "./etc"}.
{platform_share_dir,        "./share"}.
{platform_data_dir,         "./data"}.
{platform_log_dir,          "./log"}.
{platform_tmp_dir,          "./tmp"}.
{platform_gen_dir,          "{{platform_etc_dir}}"}.


