image: erlang:21.3.8.6

before_script:
  - apt-get update -y
  - apt-get -y install build-essential libssl-dev openssl

test:
  script:
    - rm -rf _build/test
    - rebar3 as test ct

  cache:
    paths:
    - _build/default/lib/eleveldb
    - _build/test/lib/eleveldb
