*.LOG
*.beam
*.d
*.iml
*.o
*.pdf
*.plt
*.swo
*.swp
.erlang.cookie
.erlang.mk
.erlang.mk.packages.*
.eunit
.idea
.rebar
.rebar3
/.erl_workspace.json
/.vscode/launch.json
/erlang_ls.config
_*
_build
_rel
app-deps.dot
app-deps.png
data
db
deps
ebin
erl_crash.dump
log/*
log/index
logs
rebar3.crashdump
relx
apps/*/doc/*

