%% -*- mode: erlang -*-
[
    {ramp,[
        {is_router, true},
        {realms,  [
                #{
                    name => <<"dev">>,
                    roles => [
                        #{
                            name => <<"services">>,
                            permissions => [
                                #{
                                    uri => <<"com.williamhill.*">>,
                                    call => true,
                                    register => false,
                                    subscribe => true,
                                    publish => true
                                }
                            ]
                        },
                        #{
                            name => <<"frontend">>,
                            permissions => [
                                #{
                                    uri => <<"com.williamhill.frontend.*">>,
                                    call => true,
                                    register => false,
                                    subscribe => true,
                                    publish => true
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]},
    {tuplespace, [
        {static_tables, [
            {realm, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {session, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {subscription, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {session_subscription, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {subscription_index,  [
                bag,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]}
        ]}
    ]},
    {kernel, [
        {error_logger, {file, "log/kernel.log"}}
    ]},

    {sasl, [
        {sasl_error_logger, {file, "log/sasl.log"}},
        {error_logger_mf_dir,"log"},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_maxfiles, 10},
        {errlog_type, all}
    ]},


    {u, [
        {met_metric_port, "9011"},
        {met_sshd_port, "22023"}
    ]}
].
