{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
    {plumtree, {git, "git://github.com/helium/plumtree.git", {branch,"master"}}},
    {wamp, {git, "git@gitlab.com:leapsight/wamp.git", {branch, "develop"}}},
    sidejob,
    jsx,
    msgpack,
    lager,
    exometer_core
]}.

{relx, [
    {release, {juno, "0.1.0" },[
        juno,
        tuplespace,
        sasl,
        cowboy,
        lager,
        exometer_core
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false},
        {include_erts, true}]}
    ]}
]}.
