{minimum_otp_vsn, "R20.3.8"}.

{erl_opts, [
    ewarn_export_all,
    strict_validation,
    warn_bif_clash,
    warn_deprecated_function,
    % warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
    % warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_import,
    warn_unused_function,
    warn_unused_record,
    warn_unused_vars,
    warnings_as_errors,
    debug_info,
    {parse_transform, lager_transform}
 ]}.


{dialyzer, [
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    %% {plt_extra_apps, [utils, wamp, leap]},
    % {plt_location, local}, % local | "/my/file/name"
    % {plt_prefix, "rebar3"},
    {base_plt_apps, [erts, stdlib, kernel, ssl, crypto, inets, os_mon]},
    % {base_plt_location, global}, % global | "/my/file/name"
    % {base_plt_prefix, "rebar3"},
    {warnings, [
        error_handling,
        no_behaviours,
        no_contracts,
        no_fail_call,
        no_fun_app,
        no_improper_lists,
        no_match,
        no_missing_calls,
        no_opaque,
        no_return,
        no_undefined_callbacks,
        no_unused,
        race_conditions,
        % underspecs,
        % overspecs,
        % specdiffs,
        unknown,
        unmatched_returns
    ]}
]}.

{deps, [
    %% WAMP
    cuttlefish,
    {wamp,
        {git, "https://gitlab.com/leapsight/wamp.git", {branch, "develop"}}
    },
    %% LOAD REGULATION
    sidejob,
    %% STORAGE
    {plum_db,
        {git, "https://gitlab.com/leapsight/plum_db.git", {branch, "master"}}
    },
    {tuplespace,
        {git, "https://gitlab.com/leapsight/tuplespace.git", {branch, "develop"}}
    },
    {art,
        {git, "https://gitlab.com/leapsight/art.git", {branch, "develop"}}
    },
    %% DEBUGGING
    {redbug, "1.2.1"},
    {observer_cli, "1.4.2"},
    %% DATA FORMATS
    %% msgpack,
    %% {jsx, "~>2.9.0"},
    %% {bert, "0.1.0"},
    %% HTTP
    hackney, % used by API gateway to implement forward action
    {cowboy, "2.6.3"},
    %% OAUTH2/CRYPTO
    {erlang_term, "1.7.5"},
    {jose, "~>1.9.0"},
    pbkdf2,
    %% INSTRUMENTATION
    parse_trans,
    {lager, "~>3.6.7"},
    {opencensus,
        {git, "https://github.com/census-instrumentation/opencensus-erlang.git",{branch, "master"}}
    },
    {opencensus_erlang_prometheus, "0.3.2"},
    {prometheus, "4.2.2"},
    {prometheus_cowboy,
        {git,
            "https://github.com/deadtrickster/prometheus-cowboy.git",
            {branch, "master"}}
    },
    %% CLI
    {clique,
        {git, "https://github.com/Leapsight/clique.git", {branch, "develop"}}
    },
    %% UTILS
    {mops,
        {git, "https://gitlab.com/leapsight/mops.git", {branch, "master"}}
    },
    {flake,
        {git, "https://github.com/Leapsight/flake.git", {branch, "master"}}
    },
    {leap,
        {git, "https://gitlab.com/leapsight/leap.git", {branch, "master"}}
    },
    {utils,
        {git, "https://gitlab.com/leapsight/utils.git", {branch, "develop"}}
    },
    {uuid, "1.7.5", {pkg, uuid_erl}}
]}.




%% =============================================================================
%% RELX
%% =============================================================================



{relx, [
    {release, {bondy, "0.8.4"},[
        %% Erlang
        sasl,
        crypto,
        inets,
        tools,
        runtime_tools,
        os_mon,
        %% Third-parties
        clique,
        cowboy,
        erlang_term,
        hackney,
        jose,
        jsx,
        lager,
        msgpack,
        opencensus,
        opencensus_erlang_prometheus,
        pbkdf2,
        prometheus,
        prometheus_cowboy,
        redbug,
        observer_cli,
        sidejob,
        uuid,
        parse_trans,
        %% Ours
        mops,
        flake,
        plum_db,
        leap,
        tuplespace,
        art,
        utils,
        wamp,
        bondy,
        bondy_broker_bridge
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},

    {overlay, [
        {mkdir, "{{platform_data_dir}}"},
        {mkdir, "{{platform_log_dir}}"},
        {mkdir, "{{platform_etc_dir}}"},
        {mkdir, "{{platform_tmp_dir}}"},

        {copy, "priv/specs/bondy_admin_api.json", "etc/bondy_admin_api.json"},
        {copy, "priv/ssl/cacert.pem", "etc/cacert.pem"},
        {copy, "priv/ssl/cert.pem", "etc/cert.pem"},
        {copy, "priv/ssl/key.pem", "etc/key.pem"},

        {template, "files/bondy-admin", "bin/bondy-admin"},
        {template, "files/bondy-repair.escript", "bin/bondy-repair.escript"},
        {template, "schema/bondy.schema", "share/schema/00-bondy.schema"},
        {template, "schema/bondy_broker_bridge.schema", "share/schema/01-bondy_broker_bridge.schema"},
        {template, "schema/oauth2.schema", "share/schema/02-oauth2.schema"},
        {template, "schema/erlang_vm.schema", "share/schema/03-vm.schema"}
    ]}
]}.




%% =============================================================================
%% PLUGINS
%% =============================================================================


{project_plugins, [{rebar3_cuttlefish, "~>0.16.0"}]}.

{plugins, [rebar3_run, rebar3_proper]}.



%% =============================================================================
%% PROFILES
%% =============================================================================



{profiles, [
    {dev, [
        {relx, [
            {dev_mode, true},
            {include_src, false},
            {include_erts, false},
            {vm_args, "config/dev/vm.args"},
            {overlay_vars, "config/dev/vars.config"},
            {overlay, [
                {copy, "config/dev/advanced.config", "etc/advanced.config"}
            ]}
        ]}
    ]},
    {bridge, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {vm_args, "config/bridge/vm.args"},
            {overlay_vars, "config/bridge/vars.config"},
            {overlay, [
                {copy, "config/bridge/advanced.config", "etc/advanced.config"},
                {copy, "examples/config/security_config.json", "etc/security_config.json"},
                {copy, "examples/config/broker_bridge_config.json", "etc/broker_bridge_config.json"}
            ]}
        ]}
    ]},
    {test1, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {vm_args, "config/test1/vm.args"},
            {overlay_vars, "config/test1/vars.config"},
            {overlay, [
                {copy, "config/test1/advanced.config", "etc/advanced.config"},
                {copy, "examples/config/security_config.json", "etc/security_config.json"}
            ]}
        ]}
    ]},
    {test2, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {vm_args, "config/test2/vm.args"},
            {overlay_vars, "config/test2/vars.config"},
            {overlay, [
                {copy, "config/test2/advanced.config", "etc/advanced.config"}
            ]}
        ]}
    ]},
    {test3, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {vm_args, "config/test3/vm.args"},
            {overlay_vars, "config/test3/vars.config"},
            {overlay, [
                {copy, "config/test3/advanced.config", "etc/advanced.config"}
            ]}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {vm_args, "config/prod/vm.args"},
            {overlay_vars, "config/prod/vars.config"},
            {overlay, [
                {copy, "config/prod/advanced.config", "etc/advanced.config"}
            ]}
        ]}
    ]},
    {lint,  [
        {plugins, [
            {rebar3_lint,
                {git,
                    "https://github.com/project-fifo/rebar3_lint.git",
                    {tag, "v0.1.10"}
                }
            }
        ]}
    ]},
    {docs, [
        {deps, [
            {edown,
                ".*",
                {git, "https://github.com/uwiger/edown.git", {branch, "master"}}
            }
        ]},
        {edoc_opts, [
            {doclet, edown_doclet},
            {top_level_readme, {
                "./README.md",
                "https://gitlab.com/leapsight/bondy"
            }}
        ]}
    ]},
    {test, [
        {deps, [meck, proper]},
        {erl_opts, [debug_info, export_all, nowarn_export_all]}
    ]}
]}.





%% =============================================================================
%% TESTING
%% =============================================================================

{cover_enabled, true}.
{cover_opts, [verbose]}.
{ct_opts, [
    {sys_config, "config/test/advanced.config"}
]}.



%% =============================================================================
%% SHELL
%% =============================================================================

{shell, [{config, "config/dev/advanced.config"}, {apps, [bondy, bondy_broker_bridge]}]}.




%% =============================================================================
%% ELVIS
%% =============================================================================




{elvis,
 [#{dirs => ["apps/bondy/src"],
       filter => "*.erl",
       rules => [
                 %% {elvis_style, line_length,
                 %%  #{ignore => [],
                 %%    limit => 80,
                 %%    skip_comments => false}},
                 {elvis_style, no_tabs},
                 {elvis_style, no_trailing_whitespace},
                 {elvis_style, macro_names, #{ignore => []}},
                 %% {elvis_style, macro_module_names},
                 {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                            {right, "++"},
                                                            {left, "++"}]}},
                 %% {elvis_style, nesting_level, #{level => 3}},
                 {elvis_style, god_modules,
                  #{limit => 50,
                    ignore => []}},
                 {elvis_style, no_if_expression},
                 %% {elvis_style, invalid_dynamic_call, #{ignore => []}},
                 {elvis_style, used_ignored_variable},
                 {elvis_style, no_behavior_info},
                 {
                   elvis_style,
                   module_naming_convention,
                   #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                     ignore => []}
                 },
                 {
                   elvis_style,
                   function_naming_convention,
                   #{regex => "^([a-z][a-z0-9]*_?)*$"}
                 },
                 {elvis_style, state_record_and_type},
                 {elvis_style, no_spec_with_records}
                 %% {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
                 %% {elvis_style, no_debug_call, #{ignore => []}}
                ]
      },
     #{dirs => ["."],
       filter => "Makefile",
       rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                 {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
      },
     #{dirs => ["."],
       filter => "rebar.config",
       rules => [
            %% {elvis_project, no_deps_master_rebar, #{ignore => []}},
            %% {elvis_project, protocol_for_deps_rebar, #{ignore => []}}
        ]
      }
    ]
}.
