{minimum_otp_vsn, "R27.0"}.

{erl_opts, [debug_info]}.

{deps, [
  {utils, {git, "https://github.com/Leapsight/utils.git", {tag, "1.4.2"}}},
  {bert, {git, "https://github.com/aramallo/bert.erl.git", {tag, "0.2.0"}}},
  msgpack
]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{ct_opts, []}.

{shell, [
    {apps, [wamp]}
]}.

{dialyzer, [
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, [utils]},
    {plt_location, "~/.cache/rebar3/rebar3.plt"}, % local | "/my/file/name"
    % {plt_prefix, "rebar3"},
    % {base_plt_apps, [erts, stdlib, kernel, ssl, crypto, inets, os_mon]},
    % {base_plt_location, "~/.cache/rebar3/rebar3.plt"}, % global | "/my/file/name"
    % {base_plt_prefix, "rebar3"},
    {warnings, [
        error_handling,
        no_behaviours,
        no_contracts,
        no_fail_call,
        no_fun_app,
        no_improper_lists,
        no_match,
        no_missing_calls,
        no_opaque,
        no_return,
        no_undefined_callbacks,
        no_unused,
        race_conditions,
        % underspecs,
        % overspecs,
        % specdiffs,
        unknown,
        unmatched_returns
    ]}
]}.


{elvis,
 [#{dirs => ["src"],
       filter => "*.erl",
       rules => [
                 %% {elvis_style, line_length,
                 %%  #{ignore => [],
                 %%    limit => 80,
                 %%    skip_comments => false}},
                 {elvis_style, no_tabs},
                 {elvis_style, no_trailing_whitespace},
                 {elvis_style, macro_names, #{ignore => []}},
                 %% {elvis_style, macro_module_names},
                 {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                            {right, "++"},
                                                            {left, "++"}]}},
                 %% {elvis_style, nesting_level, #{level => 3}},
                 {elvis_style, god_modules,
                  #{limit => 25,
                    ignore => []}},
                 {elvis_style, no_if_expression},
                 %% {elvis_style, invalid_dynamic_call, #{ignore => []}},
                 {elvis_style, used_ignored_variable},
                 {elvis_style, no_behavior_info},
                 {
                   elvis_style,
                   module_naming_convention,
                   #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                     ignore => []}
                 },
                 {
                   elvis_style,
                   function_naming_convention,
                   #{regex => "^([a-z][a-z0-9]*_?)*$"}
                 },
                 {elvis_style, state_record_and_type},
                 {elvis_style, no_spec_with_records}
                 %% {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
                 %% {elvis_style, no_debug_call, #{ignore => []}}
                ]
      },
     #{dirs => ["."],
       filter => "Makefile",
       rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                 {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
      },
     #{dirs => ["."],
       filter => "rebar.config",
       rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}},
                 {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
      }
    ]
}.
