{platform_bin_dir,          "/bondy/bin"}.
{platform_data_dir,         "/bondy/data"}.
{platform_etc_dir,          "/bondy/etc"}.
{platform_lib_dir,          "/bondy/lib"}.
{platform_log_dir,          "/bondy/log"}.
{platform_share_dir,        "/bondy/share"}.
{platform_tmp_dir,          "/bondy/tmp"}.
