{minimum_otp_vsn, "R26.0.2"}.
{erl_opts, [debug_info]}.

%% =============================================================================
%% REBAR
%% =============================================================================


{project_plugins, [
    rebar3_ex_doc,
    rebar3_proper
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [bondy_broker_bridge]}
]}.


{deps, []}.

%% =============================================================================
%% DOCS
%% =============================================================================



{ex_doc, [
    {source_url, <<"https://github.com/leapsight/bondy">>},
    {extras, [
        <<"README.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"Bondy">>}
]}.