%% =============================================================================
%% SPDX-FileCopyrightText: 2016 - 2026 Leapsight
%% SPDX-License-Identifier: Apache-2.0
%% =============================================================================

{minimum_otp_vsn, "R28"}.
{erl_opts, [debug_info]}.

%% =============================================================================
%% REBAR
%% =============================================================================


{project_plugins, [
    rebar3_ex_doc,
    rebar3_proper
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, []}
]}.


{deps, [
    resulto,
    %% Used by bondy_retry
    backoff,
    {key_value,
        {git, "https://github.com/leapsight/key_value.git",
            {ref, "cf0143bf3a91c1d41ace9ef938e314307c80bd1f"}}
    }
]}.

%% =============================================================================
%% DOCS
%% =============================================================================



{ex_doc, [
    {source_url, <<"https://github.com/bondy-io/bondy">>},
    {extras, [
        <<"README.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"Bondy">>}
]}.
