%% =============================================================================
%% SPDX-FileCopyrightText: 2016 - 2026 Leapsight
%% SPDX-License-Identifier: Apache-2.0
%% =============================================================================

{minimum_otp_vsn, "R27.3.4"}.
{erl_opts, [debug_info]}.

%% =============================================================================
%% REBAR
%% =============================================================================


{project_plugins, [
    rebar3_ex_doc,
    rebar3_proper
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, []}
]}.


{deps, [
    resulto
]}.

%% =============================================================================
%% DOCS
%% =============================================================================



{ex_doc, [
    {source_url, <<"https://github.com/bondy-io/bondy">>},
    {extras, [
        <<"README.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"Bondy">>}
]}.
