[
    {bondy, [
        {is_router, true},
        {http_port, "${HTTP_PORT}"},
        {admin_http_port, "${ADMIN_HTTP_PORT}"},
        {tcp_port, "${TCP_PORT}"},
        {api_gateway, [
            {specs_path, "./etc"}
        ]},
        {ssl, [
           {certfile, "./etc/cert.pem"},
           {keyfile, "./etc/key.pem"},
           {cacertfile, "./etc/cacertfile.pem"}
          ]}
    ]},
    {plumtree, [
        {broadcast_mods, [
            plumtree_metadata_manager,
            bondy_tuplespace_broadcast_handler
        ]}
    ]},
    {tuplespace, [
       %% {ring_size, 32},
        {static_tables, [
            {bondy_session, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_subscription, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_subscription_index,  [
                bag,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registration, [
                ordered_set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registration_index,  [
                bag,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            %% Holds information required to implement the different invocation
            %% strategies like round_robin
            {bondy_rpc_state,  [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_token_cache, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]}
        ]}
    ]},
    {kernel, [
       {error_logger, {file, "log/kernel.log"}}
      ]},

    {sasl, [
      {sasl_error_logger, {file, "log/sasl.log"}},
      {error_logger_mf_dir,"log"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles, 10},
      {errlog_type, all}
    ]}
].
