{erl_opts, [debug_info]}.
{deps, [
    erlcloud,
    {app_config,
      {git, "https://github.com/leapsight/app_config.git", {tag, "1.1.2"}}
    }
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [bondy_rpc_gateway]}
]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            proper
        ]}
    ]}
]}.
