[
    {bondy, [
        {shutdown_grace_period, 5}
    ]},
    {bondy_broker_bridge, [
        {bridges, [
            {bondy_kafka_bridge, [
                {enabled, true},
                {topics,[
                    {<<"wamp_events">>,<<"com.example.wamp.events">>}
                ]}
            ]}
        ]}
    ]},
    {os_mon, [
        {system_memory_high_watermark, 0.60}
    ]}
].
