[
    {bondy, [
        {shutdown_grace_period, 5}
    ]},
    {bondy_broker_bridge, [
        {bridges, [
            {bondy_kafka_bridge, [
                {enabled, true},
                {topics,[
                    {<<"wamp_events">>,<<"com.example.wamp.events">>}
                ]},
                {clients,
                    [{default,
                        [{extra_sock_opts,[]},
                        {default_producer_config,
                            [{topic_restart_delay_seconds, 10},
                            {partition_restart_delay_seconds, 2},
                            {required_acks, 1}
                        ]},
                        {reconnect_cool_down_seconds, 10},
                        {auto_start_producers, true},
                        {restart_delay_seconds, 10},
                        {allow_topic_auto_creation, false},
                        {max_metadata_sock_retry, 5},
                        {endpoints, {"127.0.0.1",9092}}
                    ]}
                ]}
            ]}
        ]}
    ]},
    {plum_db, [
        {prefixes, [
            %% ram
            {registry_registrations, ram},
            {registry_subscriptions, ram},
            %% ram_disk
            {security, ram_disk},
            {security_config, ram_disk},
            {security_group_grants, ram_disk},
            {security_groups, ram_disk},
            {security_sources, ram_disk},
            {security_status, ram_disk},
            {security_user_grants, ram_disk},
            {security_users, ram_disk},
            %% disk
            {api_gateway, disk},
            {oauth2_refresh_tokens, disk}
        ]}
    ]},
    {partisan, [
        {partisan_peer_service_manager, partisan_default_peer_service_manager},
        {channels, [wamp_peer_messages, aae_channel]},
        {peer_port, 51972},
        {pid_encoding, false}
    ]},
    {plumtree, [
        {broadcast_exchange_timer, 60000},
        {broadcast_mods, [
            plum_db
        ]}
    ]},
    {flake, [
	    %% {interface, "en0"},
	    {timestamp_path, "./tmp/timestamp.dets"},
	    {allowable_downtime, 2592000000}
	]},
    {lager, [
        %% Default handlers for lager/lager_event
        {colored, true},
        {async_threshold, 500},
        {async_threshold_window, 50},
        {error_logger_hwm, 50},
        {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    color,
                    date, " ", time,
                    " [", severity,"]",
                    " [", pid,
                    {module, [" ", module], ""},
                    {function, [":", function], ""},
                    {line, [":",line], ""}, "] ",
                    message,
                    "\e[0m\r\n"
                ]}
            ]}
        ]},
        {extra_sinks, [
            {audit_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, debug},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid,
                            {module, [" ", module], ""},
                            {function, [":", function], ""},
                            {line, [":",line], ""}, "] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]},
            {error_logger_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, debug},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid,
                            {module, [" ", module], ""},
                            {function, [":", function], ""},
                            {line, [":",line], ""}, "] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]}
        ]}
    ]},
    %% {kernel, [
    %%     {logger_level, debug},
    %%     {logger, [
    %%         {handler, default, logger_std_h,
    %%             #{formatter => {bondy_logger_formatter, #{
    %%                 map_depth => 3,
    %%                 term_depth => 30
    %%             }}}
    %%         }
    %%     ]}
    %% ]},
    {tuplespace, [
       %% {ring_size, 32},
        {static_tables, [
            {bondy_session, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_registry_state, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            %% Holds information required to implement the different invocation
            %% strategies like round_robin
            {bondy_rpc_state,  [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]},
            {bondy_token_cache, [
                set,
                {keypos, 2},
                named_table,
                public,
                {read_concurrency, true},
                {write_concurrency, true}
            ]}
        ]}
    ]},
    {os_mon, [
        {system_memory_high_watermark, 0.60}
    ]}
].
