[
    {bondy, [
        {shutdown_grace_period, 5}
    ]},
    {lager, [
        %% Default handlers for lager/lager_event
        {colored, true},
        {async_threshold, 500},
        {async_threshold_window, 50},
        {error_logger_hwm, 50},
        {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    color,
                    date, " ", time,
                    " [", severity,"]",
                    " [", pid,
                    {module, [" ", module], ""},
                    {function, [":", function], ""},
                    {line, [":",line], ""}, "] ",
                    message,
                    "\e[0m\r\n"
                ]}
            ]}
        ]},
        {extra_sinks, [
            {audit_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, debug},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid,
                            {module, [" ", module], ""},
                            {function, [":", function], ""},
                            {line, [":",line], ""}, "] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]},
            {error_logger_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, debug},
                        {formatter, lager_default_formatter},
                        {formatter_config, [
                            color,
                            date, " ", time,
                            " [", severity,"]",
                            " [", pid,
                            {module, [" ", module], ""},
                            {function, [":", function], ""},
                            {line, [":",line], ""}, "] ",
                            message,
                            "\e[0m\r\n"
                        ]}
                    ]}
                ]}
            ]}
        ]}
    ]},
    {os_mon, [
        {system_memory_high_watermark, 0.2}
    ]}
].
